@import "tailwindcss";

@layer base {
    html, body, #root {
        background: transparent !important;
        height: 100vh;
        width: 100vw;
        font-family: ui-monospace, SFMono-Regular, "SF Mono", Consolas, "Liberation Mono", Menlo, monospace;
        color: white;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
}

@layer base {
    .glass {
        background: rgba(0, 0, 0, 0.63); /* Light transparency */
        backdrop-filter: blur(25px) saturate(200%) ;
        -webkit-backdrop-filter: blur(25px) saturate(200%) ;
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    }

}

header {
    -webkit-app-region: drag;
}

button {
    -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
    @apply w-2 
}

::-webkit-scrollbar-thumb {
    @apply bg-zinc-600/50 rounded-md;
}

::-webkit-scrollbar-track{
    @apply bg-transparent
}