@import "tailwindcss";

@layer base {
    html,
    body,
    #root {
        background: transparent !important;
        height: 100vh;
        width: 100vw;
        font-family: ui-monospace, SFMono-Regular, "SF Mono", Consolas, "Liberation Mono", Menlo, monospace;
        color: white;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
}

@layer base {
    .bg-transparent {
        background: transparent !important;
        backdrop-filter: none !important;
        -webkit-backdrop-filter: none !important;
    }

    .glass {
    background: rgba(24, 24, 27, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }

}

header{
    -webkit-app-region: drag;
}

button{
    -webkit-app-region: no-drag;
}